body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .display {
    position: relative;
    top:200px;
  }
  
  .segment {
    height: 125px;
    width: 15px;
    background-color: #990000;
    border-radius: 9999px;
    box-shadow: 0px 0px 25px #990000;
  }
  
  .A {
    position: absolute;
    top: -45px;
    left: 90px;
    transform: rotate(90deg);
  }
  .B {
    position: absolute;
    top: 20px;
    left: 160px;
  }
  .C {
    position: absolute;
    top: 150px;
    left: 160px;
  }
  .D {
    position: absolute;
    top: 215px;
    left: 90px;
    transform: rotate(90deg);
  }
  .E {
    position: absolute;
    top: 150px;
    left: 20px;
  }
  .F {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .G {
    position: absolute;
    top: 85px;
    left: 90px;
    transform: rotate(90deg);
  }